{
    "openapi": "3.0.0",
    "info": {
        "title": "Enom API",
        "description": "Enom REST API documentation",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.enom.ai",
            "description": "Production server (cPanel)"
        },
        {
            "url": "http://52.221.249.30",
            "description": "AWS server"
        },
        {
            "url": "http://localhost/enom/public",
            "description": "Local XAMPP server"
        }
    ],
    "paths": {
        "/api/auth/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Register a new user",
                "description": "Accepts name, email and password. Sends a 6-digit OTP to the email for verification. Token is NOT returned here — call /verify-otp after this.",
                "operationId": "register",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "preferred_language": {
                                        "description": "Language code (e.g., en, hi, ta, ar)",
                                        "type": "string",
                                        "example": "en",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "OTP sent to email",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "OTP sent to your email. Please verify to continue."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Email already registered and verified"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/auth/verify-otp": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Verify email with OTP",
                "description": "Submit the 6-digit OTP received after registration. On success, returns the Sanctum auth token.",
                "operationId": "verifyOtp",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "otp"
                                ],
                                "properties": {
                                    "otp": {
                                        "type": "string",
                                        "example": "483921"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Email verified — token returned",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Email verified successfully."
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "John Doe"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "john@example.com"
                                                },
                                                "is_verified": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "active"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|abc123xyz..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid or expired OTP"
                    }
                }
            }
        },
        "/api/auth/resend-otp": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Resend email verification OTP",
                "description": "Resends a fresh OTP to the given email if the account is not yet verified.",
                "operationId": "resendOtp",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP resent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "A new OTP has been sent to your email."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Email not found"
                    },
                    "409": {
                        "description": "Email already verified"
                    }
                }
            }
        },
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login",
                "description": "Authenticate with email and password. Returns a Sanctum token on success.",
                "operationId": "login",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "device_token": {
                                        "description": "FCM device token for push notifications",
                                        "type": "string",
                                        "example": "fcm_token_here",
                                        "nullable": true
                                    },
                                    "platform": {
                                        "type": "string",
                                        "enum": [
                                            "android",
                                            "ios",
                                            "web"
                                        ],
                                        "example": "android",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Login successful."
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "John Doe"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "john@example.com"
                                                },
                                                "is_verified": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "active"
                                                },
                                                "last_login_at": {
                                                    "type": "string",
                                                    "example": "2026-03-04T10:00:00Z"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|abc123xyz..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid password"
                    },
                    "403": {
                        "description": "Email not verified or account blocked"
                    },
                    "404": {
                        "description": "Account not found"
                    }
                }
            }
        },
        "/api/auth/forgot-password": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Forgot password — send OTP",
                "description": "Sends a password reset OTP to the email if a verified account exists. Always returns 200 for security.",
                "operationId": "forgotPassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP sent (if account exists)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "If an account with that email exists, an OTP has been sent."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/verify-reset-otp": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Verify password reset OTP",
                "description": "Step 2 of forgot-password flow. Submit the OTP from the email. On success, returns a reset_token to use in the next step (set new password screen).",
                "operationId": "verifyResetOtp",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "otp"
                                ],
                                "properties": {
                                    "otp": {
                                        "type": "string",
                                        "example": "192837"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP verified — reset_token returned",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "OTP verified. You may now reset your password."
                                        },
                                        "reset_token": {
                                            "type": "string",
                                            "example": "a1b2c3d4-e5f6-..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid or expired OTP"
                    }
                }
            }
        },
        "/api/auth/reset-password": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Reset password",
                "description": "Step 3 of forgot-password flow. Submit the reset_token from verify-reset-otp and the new password.",
                "operationId": "resetPassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "reset_token",
                                    "password"
                                ],
                                "properties": {
                                    "reset_token": {
                                        "type": "string",
                                        "example": "a1b2c3d4-e5f6-..."
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Password reset successfully."
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "2|xyz789abc..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid or expired reset token"
                    }
                }
            }
        },
        "/api/auth/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Logout",
                "description": "Revokes the current access token.",
                "operationId": "logout",
                "responses": {
                    "200": {
                        "description": "Logged out",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Logged out successfully."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/users/{userId}/block": {
            "post": {
                "tags": [
                    "Block & Report"
                ],
                "summary": "Block or unblock a user",
                "operationId": "toggleBlockUser",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Block toggled"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/users/{userId}/block-status": {
            "get": {
                "tags": [
                    "Block & Report"
                ],
                "summary": "Check if user is blocked",
                "operationId": "blockStatus",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Block status"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/blocked-users": {
            "get": {
                "tags": [
                    "Block & Report"
                ],
                "summary": "Get list of blocked users",
                "operationId": "listBlockedUsers",
                "responses": {
                    "200": {
                        "description": "List of blocked users"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/report": {
            "post": {
                "tags": [
                    "Block & Report"
                ],
                "summary": "Report a post, comment, or user",
                "operationId": "reportContent",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "type",
                                    "id",
                                    "reason"
                                ],
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "post",
                                            "comment",
                                            "user"
                                        ],
                                        "example": "post"
                                    },
                                    "id": {
                                        "description": "ID of the post/comment/user",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "reason": {
                                        "type": "string",
                                        "enum": [
                                            "spam",
                                            "harassment",
                                            "nudity",
                                            "violence",
                                            "misinformation",
                                            "other"
                                        ],
                                        "example": "spam"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "This is spam content",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Report submitted"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/posts/{postId}/comments": {
            "get": {
                "tags": [
                    "Comments"
                ],
                "summary": "Get comments for a post",
                "operationId": "listComments",
                "parameters": [
                    {
                        "name": "postId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated comments"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Comments"
                ],
                "summary": "Add a comment to a post",
                "operationId": "addComment",
                "parameters": [
                    {
                        "name": "postId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "content"
                                ],
                                "properties": {
                                    "content": {
                                        "type": "string",
                                        "example": "Great post!"
                                    },
                                    "parent_id": {
                                        "description": "Reply to a comment",
                                        "type": "integer",
                                        "example": null,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Comment added"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/comments/{id}": {
            "put": {
                "tags": [
                    "Comments"
                ],
                "summary": "Update a comment",
                "operationId": "updateComment",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "content"
                                ],
                                "properties": {
                                    "content": {
                                        "type": "string",
                                        "example": "Updated comment"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Comment updated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Comments"
                ],
                "summary": "Delete a comment",
                "operationId": "deleteComment",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Comment deleted"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/comments/{id}/like": {
            "post": {
                "tags": [
                    "Comments"
                ],
                "summary": "Like or unlike a comment",
                "operationId": "toggleCommentLike",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Like toggled"
                    },
                    "404": {
                        "description": "Comment not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/comments/{id}/likes": {
            "get": {
                "tags": [
                    "Comments"
                ],
                "summary": "Get users who liked a comment",
                "operationId": "listCommentLikes",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of likes"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/device-tokens": {
            "post": {
                "tags": [
                    "Device Tokens"
                ],
                "summary": "Register a device token for push notifications",
                "operationId": "registerDeviceToken",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "token"
                                ],
                                "properties": {
                                    "token": {
                                        "type": "string",
                                        "example": "fcm_token_here"
                                    },
                                    "platform": {
                                        "type": "string",
                                        "enum": [
                                            "ios",
                                            "android"
                                        ],
                                        "example": "android"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Device token registered"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Device Tokens"
                ],
                "summary": "Remove a device token",
                "operationId": "removeDeviceToken",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "token"
                                ],
                                "properties": {
                                    "token": {
                                        "type": "string",
                                        "example": "fcm_token_here"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Device token removed"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/users/{userId}/favourite": {
            "post": {
                "tags": [
                    "Favourites"
                ],
                "summary": "Add or remove user from favourites",
                "description": "Private list - other users do not know they are your favourite. Max 50 favourites.",
                "operationId": "toggleFavourite",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Favourite toggled"
                    },
                    "422": {
                        "description": "Max favourites reached or self-favourite"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/users/{userId}/favourite-status": {
            "get": {
                "tags": [
                    "Favourites"
                ],
                "summary": "Check if user is in your favourites",
                "operationId": "favouriteStatus",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Favourite status"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/favourites": {
            "get": {
                "tags": [
                    "Favourites"
                ],
                "summary": "List your favourite users",
                "operationId": "listFavourites",
                "responses": {
                    "200": {
                        "description": "List of favourite users"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/posts/favourites": {
            "get": {
                "tags": [
                    "Favourites"
                ],
                "summary": "Get chronological feed from favourite users only",
                "description": "Returns posts from only your favourite users, ordered by newest first.",
                "operationId": "favouritesFeed",
                "parameters": [
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Posts from favourite users"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/users/{userId}/follow": {
            "post": {
                "tags": [
                    "Follow"
                ],
                "summary": "Follow or unfollow a user",
                "operationId": "toggleFollow",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Follow toggled"
                    },
                    "400": {
                        "description": "Cannot follow yourself"
                    },
                    "404": {
                        "description": "User not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/users/{userId}/follow-status": {
            "get": {
                "tags": [
                    "Follow"
                ],
                "summary": "Check if you follow a user",
                "operationId": "checkFollowStatus",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Follow status"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/users/{userId}/followers": {
            "get": {
                "tags": [
                    "Follow"
                ],
                "summary": "Get followers of a user",
                "operationId": "getFollowers",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated followers"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/users/{userId}/following": {
            "get": {
                "tags": [
                    "Follow"
                ],
                "summary": "Get users that a user is following",
                "operationId": "getFollowing",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated following"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/users/{userId}/follow-counts": {
            "get": {
                "tags": [
                    "Follow"
                ],
                "summary": "Get follower and following counts",
                "operationId": "getFollowCounts",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Follow counts"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/languages": {
            "get": {
                "tags": [
                    "Languages"
                ],
                "summary": "Get all supported languages",
                "operationId": "listLanguages",
                "parameters": [
                    {
                        "name": "region",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of languages"
                    }
                }
            }
        },
        "/api/languages/regions": {
            "get": {
                "tags": [
                    "Languages"
                ],
                "summary": "Get all language regions",
                "operationId": "listLanguageRegions",
                "responses": {
                    "200": {
                        "description": "List of regions"
                    }
                }
            }
        },
        "/api/v1/feed": {
            "get": {
                "tags": [
                    "Mood Feed"
                ],
                "summary": "Get mood-customized content feed",
                "description": "Returns posts ranked by mood relevance, engagement, and recency. Pass mood parameter to customize. Supports A/B testing with ab_test flag.",
                "operationId": "moodFeed",
                "parameters": [
                    {
                        "name": "mood",
                        "in": "query",
                        "description": "Current mood for personalization",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Happy",
                                "Neutral",
                                "Low",
                                "Angry"
                            ]
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "ab_test",
                        "in": "query",
                        "description": "A/B test flag: mood-ranked or chronological",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "mood",
                                "chronological"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Mood-customized feed"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/mood-mappings": {
            "get": {
                "tags": [
                    "Mood Feed"
                ],
                "summary": "Get mood-to-content-tag mappings",
                "operationId": "getMoodMappings",
                "parameters": [
                    {
                        "name": "mood",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Mood mappings"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Mood Feed"
                ],
                "summary": "Create or update a mood-to-tag mapping",
                "operationId": "upsertMoodMapping",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "mood",
                                    "tag",
                                    "weight"
                                ],
                                "properties": {
                                    "mood": {
                                        "type": "string",
                                        "enum": [
                                            "Happy",
                                            "Neutral",
                                            "Low",
                                            "Angry"
                                        ]
                                    },
                                    "tag": {
                                        "type": "string",
                                        "example": "funny"
                                    },
                                    "weight": {
                                        "type": "number",
                                        "example": 0.8
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Mapping saved"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/mood-mappings/{id}": {
            "delete": {
                "tags": [
                    "Mood Feed"
                ],
                "summary": "Delete a mood-to-tag mapping",
                "operationId": "deleteMoodMapping",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Mapping deleted"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/notifications": {
            "get": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Get user notifications",
                "operationId": "listNotifications",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated notifications"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/notifications/{id}/read": {
            "post": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Mark a notification as read",
                "operationId": "markNotificationRead",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Notification marked as read"
                    },
                    "404": {
                        "description": "Notification not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/notifications/read-all": {
            "post": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Mark all notifications as read",
                "operationId": "markAllNotificationsRead",
                "responses": {
                    "200": {
                        "description": "All notifications marked as read"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/notifications/{id}": {
            "delete": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Delete a notification",
                "operationId": "deleteNotification",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Notification deleted"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/places/search": {
            "get": {
                "tags": [
                    "Places"
                ],
                "summary": "Search places for location tagging (Google Places API)",
                "description": "Returns location suggestions for post location tagging. Uses Google Places API server-side. Pass optional lat/lng to bias results to nearby places.",
                "operationId": "searchPlaces",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Search query (place name)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lat",
                        "in": "query",
                        "description": "Optional latitude to bias results",
                        "required": false,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "lng",
                        "in": "query",
                        "description": "Optional longitude to bias results",
                        "required": false,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10,
                            "maximum": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of place suggestions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "place_id": {
                                                        "type": "string",
                                                        "example": "ChIJN1t_tDeuEmsRUsoyG83frY4"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Central Park"
                                                    },
                                                    "address": {
                                                        "type": "string",
                                                        "example": "New York, NY, USA"
                                                    },
                                                    "latitude": {
                                                        "type": "number",
                                                        "example": 40.785
                                                    },
                                                    "longitude": {
                                                        "type": "number",
                                                        "example": -73.968
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "503": {
                        "description": "Places API unavailable"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/posts": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "Get posts feed (cursor-based pagination)",
                "description": "Returns posts with cursor-based pagination. Use next_cursor from response to load more. Pass user_id for a specific user's posts.",
                "operationId": "listPosts",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Cursor for next page",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated posts with cursor"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Posts"
                ],
                "summary": "Create a new post",
                "operationId": "createPost",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "content": {
                                        "type": "string",
                                        "example": "Hello world!"
                                    },
                                    "visibility": {
                                        "type": "string",
                                        "enum": [
                                            "public",
                                            "private",
                                            "followers"
                                        ],
                                        "example": "public"
                                    },
                                    "location_name": {
                                        "type": "string",
                                        "example": "Chennai, India",
                                        "nullable": true
                                    },
                                    "latitude": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 13.0827,
                                        "nullable": true
                                    },
                                    "longitude": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 80.2707,
                                        "nullable": true
                                    },
                                    "media[]": {
                                        "description": "Upload images/videos (max 10)",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    },
                                    "thumbnails[]": {
                                        "description": "Video thumbnails (one per video, max 2MB each)",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Post created"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/posts/for-you": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "Get personalized \"For You\" feed",
                "description": "Returns posts ranked by engagement (views, likes, comments) mixed with posts from followed users and matching interests.",
                "operationId": "forYouFeed",
                "parameters": [
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Personalized feed"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/posts/{id}": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "Get a single post",
                "operationId": "showPost",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Post details"
                    },
                    "404": {
                        "description": "Post not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Posts"
                ],
                "summary": "Update a post",
                "operationId": "updatePost",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "content": {
                                        "type": "string",
                                        "example": "Updated content"
                                    },
                                    "visibility": {
                                        "type": "string",
                                        "enum": [
                                            "public",
                                            "private",
                                            "followers"
                                        ]
                                    },
                                    "location_name": {
                                        "type": "string",
                                        "example": "Mumbai, India",
                                        "nullable": true
                                    },
                                    "latitude": {
                                        "type": "number",
                                        "format": "float",
                                        "nullable": true
                                    },
                                    "longitude": {
                                        "type": "number",
                                        "format": "float",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Post updated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Post not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Posts"
                ],
                "summary": "Delete a post",
                "operationId": "deletePost",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Post deleted"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Post not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/posts/{id}/share-link": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "Get shareable link for a post",
                "operationId": "getShareLink",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Share link",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "share_url": {
                                            "type": "string",
                                            "example": "https://api.enom.ai/post/28"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Check this out on ENOM!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Post not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/posts/{postId}/view": {
            "post": {
                "tags": [
                    "Post Views"
                ],
                "summary": "Record a view on a post",
                "operationId": "recordPostView",
                "parameters": [
                    {
                        "name": "postId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "View recorded"
                    },
                    "404": {
                        "description": "Post not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/posts/{postId}/views": {
            "get": {
                "tags": [
                    "Post Views"
                ],
                "summary": "Get view count for a post",
                "operationId": "getPostViewCount",
                "parameters": [
                    {
                        "name": "postId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "View count"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/user/profile": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Get authenticated user profile",
                "operationId": "getProfile",
                "responses": {
                    "200": {
                        "description": "User profile",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "John Doe"
                                                },
                                                "username": {
                                                    "type": "string",
                                                    "example": "johndoe",
                                                    "nullable": true
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "john@example.com"
                                                },
                                                "gender": {
                                                    "type": "string",
                                                    "example": "male",
                                                    "nullable": true
                                                },
                                                "dob": {
                                                    "type": "string",
                                                    "example": "1995-06-15",
                                                    "nullable": true
                                                },
                                                "bio": {
                                                    "type": "string",
                                                    "example": "Tech lover | Startup builder",
                                                    "nullable": true
                                                },
                                                "location": {
                                                    "type": "string",
                                                    "example": "New York",
                                                    "nullable": true
                                                },
                                                "profile_image": {
                                                    "type": "string",
                                                    "example": "profile-images/photo.jpg",
                                                    "nullable": true
                                                },
                                                "profession": {
                                                    "type": "string",
                                                    "example": "Developer",
                                                    "nullable": true
                                                },
                                                "country": {
                                                    "type": "string",
                                                    "example": "India",
                                                    "nullable": true
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "example": "Chennai",
                                                    "nullable": true
                                                },
                                                "region": {
                                                    "type": "string",
                                                    "example": "South India",
                                                    "nullable": true
                                                },
                                                "content_preferences": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "Short videos",
                                                        "Articles"
                                                    ],
                                                    "nullable": true
                                                },
                                                "social_personality": {
                                                    "type": "string",
                                                    "example": "Creator",
                                                    "nullable": true
                                                },
                                                "languages": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "English",
                                                        "Tamil"
                                                    ],
                                                    "nullable": true
                                                },
                                                "privacy_setting": {
                                                    "type": "string",
                                                    "example": "public"
                                                },
                                                "interests": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Technology"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "is_verified": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "active"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Profile"
                ],
                "summary": "Update authenticated user profile",
                "description": "All fields are optional. Send only the fields you want to update. Use multipart/form-data when uploading a profile image. For interests, send an array of interest IDs.",
                "operationId": "updateProfile",
                "requestBody": {
                    "required": false,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "username": {
                                        "type": "string",
                                        "example": "johndoe"
                                    },
                                    "gender": {
                                        "type": "string",
                                        "enum": [
                                            "male",
                                            "female",
                                            "other"
                                        ]
                                    },
                                    "dob": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "1995-06-15"
                                    },
                                    "bio": {
                                        "type": "string",
                                        "example": "Tech lover | Startup builder"
                                    },
                                    "location": {
                                        "type": "string",
                                        "example": "New York"
                                    },
                                    "profile_image": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "profession": {
                                        "type": "string",
                                        "enum": [
                                            "Student",
                                            "Entrepreneur",
                                            "Developer",
                                            "Designer",
                                            "Business Owner",
                                            "Creator",
                                            "Musician",
                                            "Other"
                                        ],
                                        "example": "Developer"
                                    },
                                    "country": {
                                        "type": "string",
                                        "example": "India"
                                    },
                                    "city": {
                                        "type": "string",
                                        "example": "Chennai"
                                    },
                                    "region": {
                                        "type": "string",
                                        "example": "South India"
                                    },
                                    "content_preferences": {
                                        "description": "JSON array as string",
                                        "type": "string",
                                        "example": "[\"Short videos\",\"Articles\"]"
                                    },
                                    "social_personality": {
                                        "type": "string",
                                        "enum": [
                                            "Creator",
                                            "Viewer",
                                            "Influencer",
                                            "Business",
                                            "Community Builder"
                                        ]
                                    },
                                    "languages": {
                                        "description": "JSON array as string",
                                        "type": "string",
                                        "example": "[\"English\",\"Tamil\"]"
                                    },
                                    "privacy_setting": {
                                        "type": "string",
                                        "enum": [
                                            "public",
                                            "private",
                                            "friends_only"
                                        ]
                                    },
                                    "interest_ids": {
                                        "description": "Comma-separated interest IDs (max 10)",
                                        "type": "string",
                                        "example": "1,3,5,7"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profile updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Profile updated successfully."
                                        },
                                        "user": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/interests": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Get all available interests",
                "description": "Returns all interests grouped by category. Use the IDs when updating user profile.",
                "operationId": "getInterests",
                "responses": {
                    "200": {
                        "description": "List of interests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "interests": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Technology"
                                                    },
                                                    "category": {
                                                        "type": "string",
                                                        "example": "Tech"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/users/{userId}/profile": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "View another user's public profile",
                "operationId": "viewUserProfile",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User profile"
                    },
                    "404": {
                        "description": "User not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/users/{userId}/share-link": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Get shareable link for a user profile",
                "operationId": "shareProfileLink",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Profile share link"
                    },
                    "404": {
                        "description": "User not found"
                    }
                },
                "security": [
                    {
[...]
